
.lampe {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 2px black;
  padding: 50px;
}

.on {
  background-color: yellow;
}

.off {
  background-color: black;
  color: white;
}
