<div class="row">
  <div class="col">
    <ol class="list-group">
      @for (todo of todos(); track todo) {
        <li
        class="list-group-item">
        {{todo.name}} {{todo.content}}
        <i (click)="deleteTodo(todo)" class="bi bi-trash2"></i>
      </li>
      }@empty {
        <div class="alert alert-warning">
          Tu n'as encore aucun todo
        </div>
      }
    </ol>
  </div>
  <div class="col">
    name:
    <input [(ngModel)]="todo().name" type="text" class="form-control" /> content:
    <input [(ngModel)]="todo().content" type="text" class="form-control" />
    <button
      class="btn btn-primary m-2"
      (click)="addTodo()"
    >
      add
    </button>
  </div>
</div>
